<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">{{typeLabelPlural}}</h4>
</div>
<div class="modal-body">
    <div class="squid-api-collection-management-widget">
            {{#if createRole}}
                <button type="button"  class="create btn btn-default">
                    <i class="fa fa-plus"></i> New {{type}}
                </button>
            {{/if}}
            <div class="squid-api-{{type}}-collection-management list">
                    <table style="width:100%">
                        <tbody {{#if valueSelected}} {{else}} class="no-values" {{/if}}>
                        {{#if collectionLoaded}}
                            {{#if collection.models}}
                                {{#each collection.models}}
                                    <tr {{#if selected}} class="selected" {{/if}} data-attr="{{value}}">
                                        <td class="select selected">
                                            {{label}}
                                        </td>
                                        {{#if roles}}
                                            {{#if roles.edit}}
                                                <td class="edit collection-option"><i class="fa fa-pencil-square-o"></i></td>
                                            {{/if}}
                                            {{#if roles.refresh}}
                                                <td class="refresh collection-option"><i class="fa fa-refresh"></i></td>
                                            {{/if}}
                                            {{#if roles.relation}}
	                                        	<td class="relation collection-option">
	                                        	    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16.5" height="21" viewBox="0 0 44.09 50.85" version="1.1">
                                                    <defs>
                                                    <clipPath id="clip1">
                                                      <path d="M 14 0 L 44.089844 0 L 44.089844 22 L 14 22 Z M 14 0 "/>
                                                    </clipPath>
                                                    <clipPath id="clip2">
                                                      <path d="M 22 9 L 44.089844 9 L 44.089844 42 L 22 42 Z M 22 9 "/>
                                                    </clipPath>
                                                    <clipPath id="clip3">
                                                      <path d="M 14 29 L 44.089844 29 L 44.089844 50.851562 L 14 50.851562 Z M 14 29 "/>
                                                    </clipPath>
                                                    <clipPath id="clip4">
                                                      <path d="M 6 21 L 38 21 L 38 50.851562 L 6 50.851562 Z M 6 21 "/>
                                                    </clipPath>
                                                    </defs>
                                                    <g id="surface1">
                                                    <path style="fill:none;stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(102,102,102);stroke-opacity:1;stroke-miterlimit:50;" d="M 66.658125 -0.001875 C 66.658125 5.502031 62.197187 9.962969 56.693281 9.962969 C 51.189375 9.962969 46.732344 5.502031 46.732344 -0.001875 C 46.732344 -5.501875 51.189375 -9.962812 56.693281 -9.962812 C 62.197187 -9.962812 66.658125 -5.501875 66.658125 -0.001875 Z M 66.658125 -0.001875 " transform="matrix(1,0,0,-1,-44.33,27.42)"/>
                                                    <path style="fill:none;stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(102,102,102);stroke-opacity:1;stroke-miterlimit:10;" d="M 56.693281 10.361406 L 56.693281 10.361406 " transform="matrix(1,0,0,-1,-46.33,25.42)"/>
                                                    <g clip-path="url(#clip1)" clip-rule="nonzero">
                                                    <path style="fill:none;stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(102,102,102);stroke-opacity:1;stroke-miterlimit:10;" d="M 81.720625 20.045 C 81.720625 22.795 79.490156 25.025469 76.73625 25.025469 C 73.98625 25.025469 71.755781 22.795 71.755781 20.045 C 71.755781 17.295 73.98625 15.064531 76.73625 15.064531 C 79.490156 15.064531 81.720625 17.295 81.720625 20.045 Z M 81.720625 20.045 " transform="matrix(1,0,0,-1,-48.33,27.42)"/>
                                                    </g>
                                                    <g clip-path="url(#clip2)" clip-rule="nonzero">
                                                    <path style="fill:none;stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(102,102,102);stroke-opacity:1;stroke-miterlimit:10;" d="M 90.021406 -0.001875 C 90.021406 2.752031 87.790937 4.9825 85.040937 4.9825 C 82.290937 4.9825 80.060469 2.752031 80.060469 -0.001875 C 80.060469 -2.751875 82.290937 -4.982344 85.040937 -4.982344 C 87.790937 -4.982344 90.021406 -2.751875 90.021406 -0.001875 Z M 90.021406 -0.001875 " transform="matrix(1,0,0,-1,-48.33,25.42)"/>
                                                    </g>
                                                    <g clip-path="url(#clip3)" clip-rule="nonzero">
                                                    <path style="fill:none;stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(102,102,102);stroke-opacity:1;stroke-miterlimit:10;" d="M 81.720625 -20.044844 C 81.720625 -17.294844 79.490156 -15.064375 76.73625 -15.064375 C 73.98625 -15.064375 71.755781 -17.294844 71.755781 -20.044844 C 71.755781 -22.794844 73.98625 -25.025312 76.73625 -25.025312 C 79.490156 -25.025312 81.720625 -22.794844 81.720625 -20.044844 Z M 81.720625 -20.044844 " transform="matrix(1,0,0,-1,-47.33,23.42)"/>
                                                    </g>
                                                    <path style="fill:none;stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(102,102,102);stroke-opacity:1;stroke-miterlimit:10;" d="M 64.021406 7.32625 L 72.931562 16.240313 " transform="matrix(1,0,0,-1,-46.33,25.42)"/>
                                                    <path style="fill:none;stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(102,102,102);stroke-opacity:1;stroke-miterlimit:10;" d="M 67.056562 -0.001875 L 79.662031 -0.001875 " transform="matrix(1,0,0,-1,-46.33,25.42)"/>
                                                    <g clip-path="url(#clip4)" clip-rule="nonzero">
                                                    <path style="fill:none;stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(102,102,102);stroke-opacity:1;stroke-miterlimit:10;" d="M 64.021406 -7.326094 L 72.931562 -16.240156 " transform="matrix(1,0,0,-1,-45.33,25.42)"/>
                                                    </g>
                                                    </g>
                                                    </svg>
	                                        	</td>
	                                        {{/if}}
	                                        {{#if roles.delete}}
	                                            <td class="delete collection-option"><i class="fa fa-trash-o"></i></td>
	                                        {{/if}}
                                        {{/if}}
                                    </tr>
                                {{/each}}
                            {{else}}
                                <div class="no-data">
                                    No {{typeLabelPlural}} available
                                </div>
                            {{/if}}
                        {{else}}
                        	<div class="no-data">
                            	<i class="fa fa-refresh fa-spin"></i> {{typeLabelPlural}} loading in progress...
                            </div>
                        {{/if}}
                        </tbody>
                </table>
            </div>
    </div>
</div>
<div class="squid-api-model-management-footer">
  	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
<!--  end of modal - -->
</div>
