<div class="squid-api-collection-management-widget">
    {{#unless modalHtml}}
        <button class="form-control squid-api-collection-modal-trigger" {{#unless collectionAvailable}} disabled="true" {{/unless}}>
            {{type}}
        </button>
    {{/unless}}
    {{#if modalHtml}}
        <div class="squid-api-{{type}}-collection-management">
            {{#if roles.create}}
                <button type="button"  class="create btn btn-default">
                    <i class="fa fa-plus"></i> New {{type}}
                </button>
            {{/if}}
                <table style="width:100%">
                    <tbody {{#if valueSelected}} {{else}} class="no-values" {{/if}}>
                        {{#each models}}
                            <tr {{#if selected}} class="selected" {{/if}} data-attr="{{value}}">
                                <td class="select selected">
                                    {{label}}
                                </td>
                                {{#if roles.delete}}
                                    <td class="delete collection-option"><i class="fa fa-trash-o"></i></td>
                                {{/if}}
                                {{#if roles.refresh}}
                                    <td class="refresh collection-option"><i class="fa fa-refresh"></i></td>
                                {{/if}}
                                {{#if roles.edit}}
                                    <td class="edit collection-option"><i class="fa fa-pencil-square-o"></i></td>
                                {{/if}}
                            </tr>
                        {{/each}}
                    </tbody>
            </table>
        </div>
    {{/if}}
</div>
